* 事前確率: P = [p_1, p_2, ..., p_n]
* カテゴリ: A = [a_1, a_1, ..., a_2, a_2, ..., a_m]
* 入力: インデックス x (1 <= x <= n), カテゴリ Y = [y_1, ..., y_s]
* 重み: W = [[w_11, w_12, w_13], [w_21, w_22, w_23], ..., [w_nt, w_nt, w_nt]] (t = 1 + s)
* 事後確率: P' = [p_1', p_2', ..., p_n']

計算:
* インデックス一致: Q_eq = [0, ..., 1, ..., 0]
* カテゴリ一致: Q_cat_i = [0, 0, ..., 1, 1, ..., 0] (i = 1, ..., s)
* P' = P +